<div class='container my-5'>
  <div class='row mb-4'>
    <div class='col-12 text-center'>
      <h1>URL Shortener</h1>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-12 text-center'>
      <i class='fas fa-link text-info fa-7x'></i>
    </div>
  </div>
  <div class='row mb-3'>
    <div class='col-10 mx-auto text-center'>
      <form action='/' method='POST'>
        <div class='mb-3'>
          <input
            type='url'
            class='form-control'
            placeholder='Input URL here'
            name='originalUrl'
            value='{{originalUrl}}'
            required
          />
        </div>
        {{#if isValidation}}
          <div class='input-group mb-3'>
            <span
              class='input-group-text bg-dark text-light'
              id='basic-addon3'
            >短網址</span>
            <input
              type='text'
              class='form-control'
              value='{{shortUrl}}'
              id='shortUrl'
              readonly
            />
            <button
              class='btn btn-dark btnCopy'
              type='button'
              id='button-addon2'
            >Copy</button>
          </div>
        {{else}}
          {{#if originalUrl}}
            <div class='alert alert-danger mb-3 fs-5' role='alert'>
              <i class='fas fa-sad-tear ml-1'></i>
              請輸入有效網址
            </div>
          {{/if}}
        {{/if}}
        <button
          type='submit'
          class='btn btn-dark btn-lg col-auto col-sm-4 mx-auto'
        >Shorten</button>
      </form>
    </div>
  </div>
</div>

<script src='/javascripts/index.js'></script>