<div class='container my-5'>
  <div class='row mb-4'>
    <div class='col-12 text-center'>
      <h1>URL Shortener</h1>
    </div>
  </div>
  <div class='row mb-4'>
    <div class='col-12 text-center'>
      <i class='fas fa-link text-info fa-7x'></i>
    </div>
  </div>
  <div class='row mb-3'>
    <div class='col-10 mx-auto text-center'>
      <form action='' method='POST'>
        <div class='mb-3'>
          <input
            type='text'
            class='form-control'
            placeholder='Input URL here'
            required
          />
        </div>
        <button
          type='submit'
          class='btn btn-dark btn-lg col-auto col-sm-4 mx-auto'
        >Shorten</button>
      </form>
    </div>
  </div>
</div>